@page "/Help"
<h3>Help</h3>

<p>

    <a href="/">Home</a>
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem consequatur cum error hic id natus officia quae quia quidem quis, reprehenderit rerum similique temporibus voluptatem. Animi assumenda ducimus necessitatibus nihil praesentium reiciendis sed? Architecto fugiat modi natus optio quas recusandae repellendus vero voluptates. Aliquid autem cum dicta doloremque doloribus ducimus eius enim esse exercitationem facilis fugiat hic impedit incidunt ipsam laboriosam nam nesciunt officiis omnis pariatur porro provident quae, quidem quo quod quos similique sit suscipit tempora tempore unde. Accusantium assumenda blanditiis corporis doloremque eaque eos error id nobis odit, officiis omnis quam quasi quibusdam saepe sed, sunt voluptas.
</p>
