@page "/"
@using BluffGame.Models

@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

@* <h1>Hello, world!</h1> *@
@* *@
@* Welcome to your new app. *@
@* *@
@* <SurveyPrompt Title="How is Blazor working for you?"/> *@

<button @onclick="CreateNewGame">New Game</button>



@code {

    private void CreateNewGame()
    {
        var game = new Game();
        
        NavigationManager.NavigateTo($"/Game/{game.Id}/{game.CreatorGuid}");
    }

}
