@page "/"

@inject NavigationManager NavigationManager
@inject IConfiguration _config


<PageTitle>Index</PageTitle>

<a href="/Help">Help</a>


<button @onclick="CreateNewGame">New Game</button>

@code {

    private void CreateNewGame()
    {
        var game = new Game(_config);
        
        NavigationManager.NavigateTo($"/Game/{game.Id}/{game.CreatorGuid}");
    }

}
